#app {
  padding-left: 15px;
  max-width: 700px;
}

.club-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.club-container {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}
