#app {
  padding-left: 15px;
  max-width: 700px;
}

.club-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.club-container {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
}

.club-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
  float: right;
}

ul {
  list-style-type: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.soccer-ball-img {
  animation: rotate 2s linear infinite;
  margin-left: auto;
  width: 100px;
  height: 100px;
}
